.featuredHead{
    padding: 32px 22px;
    font-size: 32px;
    font-weight: 700;
    color: #0f172a;
    padding-left: 36px;
    text-align: center;
}
.featuredProducts {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 35px;
    justify-items: center;
    justify-content: center;

}
.mainDiv{
    width: 80%;
}
.loaderWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 42px;
}