@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.productDiv {
    border: 2px solid #e4eaf1;
    max-width: 275px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
.productDiv:hover{
     box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
}
.productDiv:hover {
    transform: scale(1.01);
}

.imageDiv {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageDiv img {
    max-width: 200px;
    object-fit: cover;
}

.discount {
    background-color: #ef4444;
    width: fit-content;
    color: white;
    border-radius:20px;
    padding: 4px;
    position: absolute;
    left: 6px;
    top: 7px;
}

.discount div {
    font-size: 12px;
    font-weight: 500;
}

.iconDiv {
    display: flex;
    position: absolute;
    right: 9px;
    top: 8px;
}

.iconDiv i {
    color: #ef4444;
    font-weight: 800;
    font-size: 18px;
}

.content h1 {
    text-align: start;
    font-size: 22px;
    padding: 4px 10px;
    color: #0f1422;
    font-weight: 600;
}

.content p {
    color: #b9c0cb;
    font-size: 12px;
    padding: 0px 10px;
}

.priceBuy {
    display: flex;
    justify-content: space-between;
    padding: 4px 22px;
}

.priceBuy p {
    font-weight: 700;
    color: #0f172a;
    font-size: 22px;
}

.priceBuy button {
    background-color: #0f172a;
    color: white;
    border: 0;
    padding: 8px 17px;
    border-radius: 7px;
    transition: all 0.3s ease;
}

.priceBuy button:hover {
    background-color: #272e3f;
}
